@using System.Globalization
@model CartVM
@{
    ViewData["Title"] = "Корзина";

    var cultureInfo = Thread.CurrentThread.CurrentCulture;
    var numberFormatInfo = (NumberFormatInfo)cultureInfo.NumberFormat.Clone();
    numberFormatInfo.CurrencySymbol = "$";
}
<div class="container_cart">
    <div class="container_cart_left">
        @foreach (var item in Model.ListOfCart)
        {

            <div class="container_cart_left_product">
                <a asp-action="Details" asp-controller="Home" asp-route-ProductId="@item.Product.Id">
                    <div class="container_left_product_img"><img src="@item.Product.ImageUrl"></div>

                    <div style="margin-bottom: 20px;">
                        <h3 style="margin-bottom: 20px">@item.Product.Name</h3>
                    </div>
                </a>
                <div class="cart_count">
                    <a style="grid-area: 1/2" asp-action="minus" asp-route-id="@item.Id"><ion-icon name="remove-outline"></ion-icon></a>
                    <h3 style="grid-area: 1/3">@item.Count</h3>
                    <a style="grid-area: 1/4" asp-action="plus" asp-route-id="@item.Id"><ion-icon name="add-outline"></ion-icon></a>
                </div>
                <a class="cart_delete" asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="close-outline"></ion-icon></a>
            </div>
        }
    </div>
    <div class="container_cart_right">
        <form method="post">
            <div class="form">
                <div class="form_label">
                    <label>Name:</label>
                    <label>Phone:</label>
                    <label>City:</label>
                    <label>Address:</label>
                    <label>Email:</label>
                </div>
                <div class="form_input">
                    <input type="text" asp-for="@Model.OrderHeader.Name" />
                    <input type="text" asp-for="@Model.OrderHeader.Phone" />
                    <input type="text" asp-for="@Model.OrderHeader.City" />
                    <input type="text" asp-for="@Model.OrderHeader.Address" />
                    <input type="text" asp-for="@Model.OrderHeader.Email" />
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th style="text-align: start; width: 40%; margin: 5px;">
                            Назва
                        </th>
                        <th style="width: 25%; border-right: 1px solid #ffc8c8; border-left: 1px solid #ffc8c8;  margin: 5px;">
                            Кількість
                        </th>
                        <th style=" margin: 5px;">
                            Ціна
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListOfCart)
                    {
                        <tr>
                            <td style="text-align: start;  margin: 5px;">@item.Product.Name</td>
                            <td style="width: 20%; border-right: 1px solid #ffc8c8; border-left: 1px solid #ffc8c8;  margin: 5px;">@item.Count</td>
                            <td style=" margin: 5px;">@(((item.Product.Price)*(item.Count)).ToString("c", numberFormatInfo))</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="finish_info">
                <label>До сплати:</label>
                <label>@Model.OrderHeader.TotalPrice.ToString("c", numberFormatInfo)</label>
            </div>
            <button type="submit" class="confirm_order" asp-action="Order" asp-controller="Cart">
                confirm
            </button>
        </form>
    </div>
</div>

<style>
    

    .cart_count {
        display: grid;
        justify-items: center;
        grid-template-columns: 50px repeat(3, 1fr) 50px;
        align-items: center;
    }

    .cart_delete {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 15px;
    }

    .container_cart_right {
        margin: 1px;
        margin-top: 40px;
        padding: 20px;
        border: 2px solid #ffc8c8;
        border-radius: 40px;
    }

</style>